@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #FF8800;
  --color-secondary: #FFF8F0;
  --color-white: #fff;
  --color-text: #1A1817;
}
body {
  background-color: var(--color-white);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  width: 100%;
  height: auto;
  color: var(--color-text);
}

h1, h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}
a, a:hover{
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary);
}

.btn-primary {
  background-color: var(--color-primary);
  font-weight: 600;
  padding: 0.5rem 1rem ;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  color: #FFFFFF;
}
.btn-secondary {
  background-color: var(--color-white);
  font-weight: 600;
  padding: 0.5rem 1rem ;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  color: var(--color-primary);
}
.btn:hover, .btn:focus-visible, .btn-check:focus+.btn,
.btn:focus, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: none;
  color: var(--color-white);
}

.form-control:focus, .form-select:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.25);
}
.floatingInput {
  height: 3.5rem;
}
.floatingInput:focus {
  outline: none;
}
.floatingInput:focus + .floatingLabel{
  top: -0.75rem;
  left: 0.5rem;
  display: block;
  font-size: 1rem;
  color: var(--color-primary);
}
.floatingLabel {
  display: none;
  pointer-events: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: var(--color-white);
  padding: 0 0.5rem;
}
input::placeholder {
  color: var(--color-text);
}
input:focus::placeholder {
  color: transparent;
}



header {
  background-color: var(--color-white);
  box-shadow: 1px 1px 6px rgb(26 24 23 / 0.03);
}
.navbar-expand-lg .navbar-nav .nav-item {
  margin-right: 1rem;
}
.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 0;
  margin: 0;
}
.join > :first-child {
  margin-right: 1rem;
}


.auth {
  background-image: url(/assets/images/auth.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%; 
  padding: 2rem 0;
}
.auth .blogAuth {
  background-color: var(--color-white);
  padding: 1.5rem;
  border-radius: 24px;
}
.auth .blogAuth .subtitle {
  color: rgba(102, 102, 102, 0.5);
}
.auth .blogAuth a {
  text-decoration: underline;
}
.orLogin {
  text-align: center;
  margin: 0 0 1rem;
}
.orLogin .line {
  flex-grow: 1;
  margin: 0;
  color: #8c8B92;
}

footer {
  text-align: center;
  color: var(--color-white);
}
footer a {
  margin: 0 1rem;
  color: var(--color-white);
}
footer a:hover {
  color: var(--color-white);
}
 
.socialNetwork {
  background-color: var(--color-secondary);
  padding: 2.5rem 0;
}

.contentIcon {
  display: flex;
  justify-content: center;
}
.contentIcon a {
  background-color: var(--color-primary);
  width: 2rem;
  height: 2rem;
  line-height: 2;
  border-radius: 50px;
}

.navigationFoot {
  background-color: var(--color-primary);
  padding: 2.5rem 0;
}
 
.copyright {
  background-color: var(--color-text);
  padding: 1rem 0;
}
.copyright .name-web {
  text-transform: uppercase;
}

@media (max-width: 340px) {
  .auth .blogAuth {
    padding: 1rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }
}